/* .container {
  display: flex;
  justify-content: center;
}

.flex-child {
  flex-basis: 10%;
}
*/
.reaction {
  /* width: 10%; */
  cursor: pointer;
}

.logo {
  padding-top: 9em;
  padding-bottom: 7em;
}

.reactions {
  padding-bottom: 20em;
}