/* .container {
  display: flex;
  justify-content: center;
}

.flex-child {
  flex-basis: 10%;
}
*/

.selected {
  border: 5px solid red;
}

.reaction {
  /* width: 10%; */
  cursor: pointer;
}

.reactImg {
  width: 10%;
}

.logo {
  padding-top: 7em;
  padding-bottom: 7em;
}

.logoReact {
  padding-top: 2em;
}

.reactions {
  padding-bottom: 20em;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline;
}

.reactionList {
  padding-top: 5em;
  padding-bottom: 10em;
}

.majorityImg {
  padding-top: 4em;
}